#validation-input {
    border: 3px solid #bdbdbd;
    border-radius: 5px;
  }
  
  #validation-input.valid {
    border-color:  #4caf50;
  }
  
  #validation-input.invalid {
    border-color: #f44336;
  }


  #text {
    font-size: 18px;
  }

 

  #gallery{
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  .mod{
    width: 400px;
    height: auto;
    
    
    
  }